package layouts

import (
	"github.com/NikoMalik/GoTrack/views/components"
	"github.com/gofiber/fiber/v2"
	

)



templ App(c *fiber.Ctx) {
	@BaseLayout(true, c) {
        
		
            <div class="flex justify-center items-center py-20 mb-20">
             
			<p>
			if cookie := c.Cookies("visited"); cookie == "" {
				@components.Cookie(true)
			}

			</p>
			{ children... }
            </div>


            
		
		



		
	
		
		
	}
	
}