package errorsTempl

import ( 
	"github.com/NikoMalik/GoTrack/views/layouts"
)


templ Error500() {
	@layouts.BaseLayout(false) {
	<div> 

	<h1 class="uk-text-large uk-text-center text-blue-600">error 500</h1>
	</div>
	}

}